<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <%- include('common/header'); -%>

        <p>Hi ,</p>
        <p>
            We here at 'Collection Management' are happy to have you on board!
            There’s just one last step to complete before you can start winning big.
        </p>
        <p>
            Just click the following link to verify your email address. Once we
            confirm that you’re really you, you are good to go.
        </p>
        <p>
            <a href="<%= href_reset_password %>"> Click Here To Verify Now</a>
        </p>
        <p>
            Thanks
        </p>
        <p>
            Collection Management
        </p>

        <%- include('common/footer'); -%>
</body>

</html>